#!/bin/bash

expect << END
set timeout 2
spawn {{ app_install_dir }}/peopletools/Disk1/setup.sh -i console -tempdir /tmp
expect -re "PRESS \<ENTER\> TO CONTINUE:"
send "\r"
expect -re "PRESS \<ENTER\> TO CONTINUE:"
send "\r"
expect -re "PRESS \<ENTER\> TO CONTINUE:"
send "\r"
expect -re "PRESS \<ENTER\> TO CONTINUE:"
send "\r"
expect -re "PRESS \<ENTER\> TO CONTINUE:"
send "\r"
expect -re "PRESS \<ENTER\> TO CONTINUE:"
send "\r"
expect -re "DO YOU ACCEPT THE TERMS OF THIS LICENSE AGREEMENT? (Y/N):"
send "Y\r"
expect -re "Please enter your PeopleSoft license code []:"
send "zm7ky3w41m044u863q67oke1ms7t1f2\r"
expect -re "Press 1 for Next, 2 for Previous, 3 to Cancel or 5 to Redisplay \[1\] :"
send "1\r"
expect -re "To select an item enter its number, or 0 when you are finished \[0\] :"
send "0\r"
expect -re "Press 1 for Next, 2 for Previous, 3 to Cancel or 5 to Redisplay \[1\] :"
send "1\r"
expect -re "To select an item enter its number, or 0 when you are finished \[0\] :"
send "0\r"
expect -re "Press 1 for Next, 2 for Previous, 3 to Cancel or 5 to Redisplay \[1\] :"
send "1\r"
expect -re "(Default: \/opt\/PT8.55):"
send "{{ pt_home }}\r"
expect -re "Press 1 for Next, 2 for Previous, 3 to Cancel or 5 to Redisplay \[1\] :"
send "1\r"
expect -re "Email address/ User Name (Default: ):"
send "\r"
expect -re "Do you wish to remain uninformed of critical security issues in your
   configuration.        (Y/N):"
send "Y\r"
expect -re "Press 1 for Next, 2 for Previous, 3 to Cancel or 5 to Redisplay \[1\] :"
send "1\r"
expect -re "Please enter the hub machine name: \[PSEMHUB\]:"
send "\r"
expect -re "Please enter the hub port number: \[80\]:"
send "\r"
expect -re "Press 1 for Next, 2 for Previous, 3 to Cancel or 5 to Redisplay \[1\] :"
send "1\r"
expect -re "To select an item enter its number, or 0 when you are finished \[0\] :"
send "0\r"
expect -re "Press 1 for Next, 2 for Previous, 3 to Cancel or 5 to Redisplay \[1\] :"
send "1\r"
expect -re "Press 1 for Next, 2 for Previous, 3 to Cancel or 5 to Redisplay \[1\] :"
send "1\r"
set timeout 300
expect -re "PRESS \<ENTER\> TO EXIT THE INSTALLER:"
send "\r"
expect eof
END

