{{ database_sid }} =
  (DESCRIPTION =
    (ADDRESS = (PROTOCOL = TCP)(HOST = {{ db_host }} )(PORT = {{ db_port }}))
    (CONNECT_DATA =
      (SERVER = DEDICATED)
      (SERVICE_NAME = {{ database_sid }})
    )
  )

LISTENER_RIBDB =
  (ADDRESS = (PROTOCOL = TCP)(HOST = {{ db_host }})(PORT = {{ db_port }}))

