#!/bin/bash

expect << END
set timeout 2
spawn sqlplus system/manager@{{ database_sid }}
expect -re "SQL>"
send "@{{ database_scripts }}/connect.sql\r"
expect -re "Enter name of PeopleSoft Connect ID(max. 8 characters):"
send "{{ ps_connect_id }}\r"
expect -re "Enter PeopleSoft Connect ID password(max. 30 characters):"
send "{{ ps_connect_pass }}\r"
expect eof
END