#!/bin/bash

expect << END
set timeout 2
spawn {{ pt_home }}/bin/sqr/ORA/bin/sqr {{ pt_home }}/sqr/dddaudit.sqr {{ ps_access_id }}/{{ ps_access_pass }}@{{ database_sid }} -ZIF{{ pt_home }}/sqr/pssqr.unx -i{{ pt_home }}/sqr/
expect -re "Database Name (Optional, Press ENTER to continue):"
send "{{ database_sid }}\r"
expect -re "Process Instance (Optional, Press ENTER to continue):"
send "\r"
set timeout 900
expect eof
END