REM - hcm92dmoora2.dms
REM - Created by Data Mover 8.55.11 Fri Mar 24 05:55:41 2017
REM -
REM - Database Platform: Oracle
REM - Unicode Database
REM - Selected Character Set: AL32UTF8 - AL32UTF8
REM - Generate Latin-1 Code
REM -
/
REM - PeopleSoft HCM Database - US English
/
SET LOG {{ hcm_home }}/log/hcengs.log;
SET INPUT {{ hcm_home }}/data/hcengs.db;
SET COMMIT 30000;
SET NO VIEW;
SET NO SPACE;
SET NO TRACE;
SET UNICODE ON;
SET IGNORE_DUPS;
SET ENABLED_DATATYPE 9.2;
IMPORT *;

REM - PeopleSoft HCM Database - US English
/
SET LOG {{ hcm_home }}/log/hcengl.log;
SET INPUT {{ hcm_home }}/data/hcengl.db;
SET COMMIT 30000;
SET NO VIEW;
SET NO SPACE;
SET NO TRACE;
SET UNICODE ON;
SET IGNORE_DUPS;
SET ENABLED_DATATYPE 9.2;
IMPORT *;

REM - Final Database cleanup
REM -
REM - Based on your inputs to Database Setup, you will be using
REM - ConnectID's to connect to your PeopleSoft Application
REM -
/
UPDATE PSOPRDEFN SET ACCTLOCK = 1;
INSERT INTO PS.PSDBOWNER VALUES('{{ database_sid }}', '{{ ps_access_id }}');
UPDATE PSSTATUS SET OWNERID = '{{ ps_access_id }}';
UPDATE PSOPRDEFN SET SYMBOLICID = 'SYSADM1';
UPDATE PSOPRDEFN SET PTOPERPSWDV2 = OPRID, ENCRYPTED = 0, ACCTLOCK = 0 WHERE OPRID NOT IN('{{ ps_user_id }}','PTWEBSERVER');
UPDATE PSOPRDEFN SET PTOPERPSWDV2 = 'PTWEBSERVER', ENCRYPTED = 0, ACCTLOCK = 0 WHERE OPRID = 'PTWEBSERVER';
UPDATE PSOPRDEFN SET PTOPERPSWDV2 = '{{ ps_user_pass }}', ENCRYPTED = 0, ACCTLOCK = 0 WHERE OPRID = '{{ ps_user_id }}';
UPDATE PSACCESSPRFL SET ACCESSID = '{{ ps_access_id }}', SYMBOLICID = 'SYSADM1', ACCESSPSWD = '{{ ps_access_pass }}', VERSION = 0, ENCRYPTED = 0;
UPDATE PSACCESSPROFILE SET STM_ACCESS_ID = '{{ ps_access_id }}', SYMBOLICID = 'SYSADM1', STM_ACCESS_PSWD = '{{ ps_access_pass }}', VERSION = 0, STM_ENCRYPTION_VER = 1, ENCRYPTED = 0;
UPDATE PSOPTIONS SET LICENSE_CODE = '117fefffff8ffffffbff197c32m7a66', LICENSE_GROUP = '1';
UPDATE PS_INSTALLATION SET
HGA='Y', BENEFIT_ADMINISTRN='Y', PSERECRUIT='Y', CCU='Y', DI='Y', INSTALLED_GP_ARG='Y',
INSTALLED_GP_AUS='Y', INSTALLED_GP_BRA='Y', INSTALLED_GP_CHN='Y', INSTALLED_PAY_GBL='Y',
INSTALLED_GP_FRA='Y', INSTALLED_GP_DEU='Y', INSTALLED_GP_HKG='Y', INSTALLED_GP_IND='Y',
INSTALLED_GP_JPN='Y', INSTALLED_GP_MYS='Y', INSTALLED_GP_MEX='Y', INSTALLED_GP_NLD='Y',
INSTALLED_GP_NZL='Y', INSTALLED_GP_SGP='Y', INSTALLED_GP_ESP='Y', INSTALLED_GP_CHE='Y',
INSTALLED_GP_THA='Y', INSTALLED_GP_UK='Y', INSTALLED_GP_USA='Y', LRM='Y', EHC='Y',
HR='Y', FO_PBM='Y', INSTALLED_PAY_INT='Y', INSTALLED_PAY_NA='Y', PA='Y', ST='Y', SPN='Y',
PSERECRUIT_MGR='Y', TL='Y', PSEBENEFITS='Y', PSECOMP='Y', PSECOMP_MGR='Y', PSEA='Y',
PSEPAY='Y', PSEPERF_MANAGEMENT='Y', PSEPROFILE='Y', PSEPROFILE_MGR='Y';
GRANT SELECT ON PSSTATUS TO {{ ps_connect_id }};
GRANT SELECT ON PSOPRDEFN TO {{ ps_connect_id }};
GRANT SELECT ON PSACCESSPRFL TO {{ ps_connect_id }};
GRANT SELECT ON PSACCESSPROFILE TO {{ ps_connect_id }};
UPDATE PSOPTIONS SET PLATCOMPAT='N';

REM - ENCRYPT PASSWORD
/
SET LOG {{ hcm_home }}/log/encrypt.log;
ENCRYPT_PASSWORD *;

DELETE FROM PSSECOPTIONS;
INSERT INTO PSSECOPTIONS (PSWD_CNTRL_ON, PSWDEXPIRESDAYS, PSWDWARNDAYS,
MINPSWDLENGTH, PSWDREQSPECIAL, PSWDREQLOWER, PSWDREQUPPER, PSWDREQDIGITS,
ALLOWOPRID, ALLOWPRIEMAIL, LOGINATTEMPTS, PT_HINTDELAY, LOCKOUTDURATION,
PURGE_DAYS, PASSWORD_HISTORY) VALUES (' ',180,5,8,0,0,0,0,0,0,5,0,0,0,0);
UPDATE PSSIGNONPPC SET ENABLED = 'Y' WHERE RECNAME='FUNCLIB_PWDCNTL' AND
FIELDNAME = 'PWDCNTL' AND EVENTNAME = 'FieldChange' AND FUNCNAME = 'Password_Controls';
UPDATE PSOPRDEFN SET LASTUPDDTTM = %CurrentDateTimeIn;

REM - CREATE TRIGGERS
/
SET LOG {{ hcm_home }}/log/triggers.log;
CREATE_TRIGGER *;

REM - CREATE VIEWS
/
SET LOG {{ hcm_home }}/log/views.log;
REPLACE_VIEW *;

REM - CREATE TEMP TABLES
/
SET LOG {{ hcm_home }}/log/temptbls.log;
CREATE_TEMP_TABLE *;
