#!/bin/bash

expect << END
set timeout 2
spawn {{ pt_home }}/bin/psadmin
expect -re "Command to execute (1-7, q):"
send "1\r"
expect -re "Command to execute (1-4, q) :"
send "2\r"
expect -re "Please enter name of domain to create :"
send "{{ database_pdb_name }}\r"
expect -re "Select config template number:"
send "1\r"
expect -re "Enter selection (1-28, h, or q):"
send "6\r"
expect -re "Enter selection (1-28, h, or q):"
send "8\r"
expect -re "Enter selection (1-28, h, or q):"
send "10\r"
expect -re "Enter selection (1-28, h, or q):"
send "11\r"
expect -re "Enter selection (1-28, h, or q):"
send "19\r"
expect -re "Enter new value for UserId \[QEDMO\]:"
send "{{ ps_user_id }}\r"
expect -re "Enter selection (1-28, h, or q):"
send "20\r"
expect -re "Enter new value for UserPswd []:"
send "{{ ps_user_pass }}\r"
expect -re "Reenter the UserPswd :"
send "{{ ps_user_pass }}\r"
expect -re "Enter selection (1-28, h, or q):"
send "21\r"
expect -re "Enter new value for DomainID \[TESTSERV\]:"
send "{{ app_domain_id }}\r"
expect -re "Enter selection (1-28, h, or q):"
send "23\r"
expect -re "Enter new value for ConnectID \[people\]:"
send "{{ ps_connect_id }}\r"
expect -re "Enter selection (1-28, h, or q):"
send "24\r"
expect -re "Enter new value for ConnectPswd []:"
send "{{ ps_connect_pass }}\r"
expect -re "Reenter the ConnectPswd :"
send "{{ ps_connect_pass }}\r"
expect -re "Enter selection (1-28, h, or q):"
send "26\r"
expect -re "Enter new value for WSL Port \[7000\]:"
send "{{ wsl_port }}\r"
expect -re "Enter selection (1-28, h, or q):"
send "27\r"
expect -re "Enter new value for JSL Port \[9000\]:"
send "{{ jsl_port }}\r"
expect -re "Enter selection (1-28, h, or q):"
send "28\r"
expect -re "Enter new value for JRAD Port \[9100\]:"
send "{{ jrad_port }}\r"
expect -re "Enter selection (1-28, h, or q):"
send "14\r"
expect -re "Command to execute (1-10, q) :"
send "1\r"
expect -re "Command to execute (1-2, q) \[q\]:"
send "1\r"
set timeout 480
expect eof
END
