Windows Registry Editor Version 5.00

[HKEY_CURRENT_USER\Software\PeopleSoft\PeopleTools\Release8.40\RDM Build Settings]
"CreateTables"=dword:00000000
"CreateIndexes"=dword:00000001
"CreateViews"=dword:00000000
"CreateTrigger"=dword:00000001
"AlterTables"=dword:00000001
"ExecuteOption"=dword:00000002
"LogErrors"=dword:00000002
"LogToScript"=dword:00000001
"LogToWindow"=dword:00000001
"LogSettings"=dword:00000000
"AlterDropOption"=dword:00000001
"AlterTruncateOption"=dword:00000001
"TableOption"=dword:00000001
"ViewOption"=dword:00000001
"IndexOption"=dword:00000003
"AlterAdds"=dword:00000001
"AlterChanges"=dword:00000001
"AlterRenames"=dword:00000001
"AlterDeletes"=dword:00000001
"OutputToSingleFile"=dword:00000001
"AlwaysOverwrite"=dword:00000001
"LogComments"=dword:00000001
"UnicodeScript"=dword:00000000
"AlterByTableRename"=dword:00000001
"PreserveStorageParms"=dword:00000001
"ForceAlterOption"=dword:00000001
"LogFilename"="{{ pt_home }}/log/PSBUILD.LOG"
"OutputToSingleFilename"="{{ pt_home }}/log/PSBUILD.SQL"
