#!/bin/bash

expect << END
set timeout 2
spawn sqlplus / as sysdba
expect -re "SQL>"
send "CONNECT system/manager@{{ database_pdb_name }}\r"
expect -re "SQL>"
send "@{{ oracle_home }}/sqlplus/admin/pupbld.sql\r"
expect eof
END